//-includes/header
doctype html
meta(name='viewport' content='initial-scale=1')
head
  title myGame
link(rel='stylesheet' href='client/public/style.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Acme|Open+Sans|Oswald|Roboto|Bangers')
