//-includes/header
doctype html
meta(name='viewport' content='initial-scale=1')
head
  title myGame
script(type='text/javascript' src='socket.io/socket.io.js')
link(rel='stylesheet' href='client/public/style.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Acme|Bangers|Open+Sans|Oswald|Roboto')
