include includes/header
link(href="client/public/style.css")
body
.header-title
  h1 Welcome to my Game#1
.container
  .header
    p Bienvenue #{username} ! Dernière connexion le #{date}
  .container
    .game-div
      include ../game-div.html
    .player-div
      include includes/player-list
    .footer
      include includes/footer
