include includes/header.pug
body
#signDiv
  p.warning Warning : #{error}
  form(method='post')
    | Username:
    input#signDiv-username(type='text' name='username')
    |     Password:
    input#signDiv-password(type='password' name='password')
    input#signDiv-signIn(type='submit')
.footer
  include includes/footer
